body{
    background-color: #E7E7E7;
}
.container{
    width: 886px;
    height: auto;
    margin: 0 auto;
}

.preheader{
    background: url(../images/preheader.jpg);
    width: 886px;
    height: 71px;
}

.header{
    background: url(../images/header.jpg);
    width: 886px;
    height: 76px;
}

.menu{
    background: url(../images/menu.jpg);
    width: 886px;
    height: 32px;
}

.main{
    background: url(../images/bg.jpg);
    width: 886px;
    height: 600px;
}

.footer{
    background: url(../images/footer.jpg);
    width: 886px;
    height: 78px;
}
